.content {
    background-image: url(../image/summer.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding-top: 55px;
    padding-bottom: 100px;
    background-position: 0% 80%;
    &__header {
        margin-bottom: 50px;
    };
    &__text {
        margin-bottom: 20px;
    }
    &__button {
        padding: 20px;
        border-radius: 5px;
        background-color: red;
        color: white;
    }
    &__button:hover {
        background-color: green;
        text-decoration: none;
        color: white;
    }
}
