.header {
    background: aqua;

    &__menu {
        padding: 20px 20px;
        display: flex;
        justify-content: center;
    }

    &__list {

    }

    &__item {
        display: inline-block;
    }
    &__link {
        font-family: sans-serif;
        color: #333;
        font-size: 15px;
        text-decoration: none;
        text-transform: uppercase;
        margin-left: 15px;
    }
}